*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;

}

body{
    /*font-family: 'Jost', sans-serif;*/
    font-size: 40pt;
}

.main{
    border: 3px red solid;
    padding: 60px;
    width: 1440px;
    margin: 0 auto;
}

header{
    border: 3px blue solid;
    /*padding: 60px;*/
    width: 100%;
    margin: 0 auto;
    /*display: flex;*/
    /*display: inline-flex;*/
}

.header_menu{
    padding: 10px;
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
}

.logo{
    /*border: 3px green solid;*/
    position: absolute;
    /*top: 10px;*/
}

.header_menu_left {
    /*border: 3px green solid;*/
    padding-bottom: 20px;
    /*display: flex;*/
}

.header_menu_it{
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}
.header_menu_it:hover{
    background-color: bisque;
}

.header_menu_right {
    /*border: 3px green solid;*/
    width: 270px;
    display: flex;
    align-items: center;
}

.header_menu_BuyNow{
    padding: 10px 20px;
    background-color: black;
    max-height: 45px;
}

.header_menu_BuyNow_Btn{
    padding: 10px 20px;
    background-color: black;
    max-height: 45px;

    font-size: 18px;
    line-height: 20px;
    color: white;

    text-decoration: none;
}

.header_menu_BuyNow_Btn:hover{
    background-color: dimgray;
}

.header_menu_icons{
    padding-bottom: 15px;
    /*border: 3px green solid;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 45px;
}


/*Section_1*/
.section_1{
    border: 3px blue solid;
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content:space-between;
}

.section_1_left{
    /*border: 3px green solid;*/
    width: 50%;
    padding-top: 100px;
}

.section_1_left_text_1{
    text-transform: uppercase;
    background-color: #E2B013;
    font-size: 14px;
    line-height: 20px;
    color: white;
    padding: 5px 10px;
    max-width: 140px;

}

.section_1_left_text_2{
    font-size: 96px;
    line-height: 86px;
    color: #000;
    padding: 5px 10px;
    margin-top: 40px;

}

.section_1_left_text_3{
    font-size: 50px;
    line-height: 25px;
    color: #000;
    padding: 5px 10px;
    margin-top: 40px;

}

.section_1_left_text_4{
    font-size: 26px;
    line-height: 34px;
    color: #000;
    padding: 5px 10px;
    margin-top: 40px;

}

.section_1_left_icons{
    margin-top: 100px;
    /*border: 3px yellow solid;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.section_1_left_icons_it{
    /*border: 3px brown solid;*/
    text-align: center;
}


.sect_1_icons_text_1{
    font-size: 10px;
    line-height: 14px;
    color: #000;
    padding: 5px 10px;
    text-transform: uppercase;

}

.sect_1_icons_text_2{
    font-size: 11px;
    line-height: 14px;
    color: #000;
    padding: 5px 10px;
    text-transform: uppercase;

}

.section_1_right{
    /*border: 3px green solid;*/
    padding: 0;
    width: 50%;
}

.section_1_right img{
    width: 100%;
}

/*Section_2*/

.section_2{
    border: 3px blue solid;
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content:space-between;
}

.section_2_left{
    /*border: 3px green solid;*/
}

.section_2_left img{
    width: 105%;

}

.section_2_right{
    /*border: 3px green solid;*/
    width: 50%;
    padding-left: 50px;
}

.section_2_right_text_1{
    font-size: 96px;
    line-height: 86px;
    color: #000;
    padding: 5px 10px;
    margin-top: -10px;

}

.section_2_right_text_2{
    font-size: 22px;
    line-height: 28px;
    color: #000;
    padding: 5px 10px;
    margin-top: 30px;

}

.section_2_right_blo{
    /*border: 3px green solid;*/
    padding-left: 10px;
}

.section_2_right_blo_1{
    /*border: 3px blue solid;*/
    display: flex;
    flex-wrap: wrap;
    max-width: 390px;
}

.section_2_right_blo_1_1{
    /*border: 3px rebeccapurple solid;*/
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
    margin-top: 8px;
    text-decoration: none;
}

.section_2_right_blo_1_1:hover{
    background-color: dimgray;
}